---
# Playbook to perform maintenance tasks for Tailscale
- name: Tailscale maintenance
  hosts: night_tower
  become: true
  handlers:
    - name: Restart Tailscale
      ansible.builtin.service:
        name: tailscaled
        state: restarted

  tasks:
    - name: Ensure Tailscale is installed
      ansible.builtin.package:
        name: tailscale
        state: present

    - name: Ensure Tailscale service is running
      ansible.builtin.service:
        name: tailscaled
        state: started
        enabled: true

    - name: Check Tailscale status
      ansible.builtin.command: tailscale status
      register: tailscale_status
      changed_when: false

    - name: Show Tailscale status output
      ansible.builtin.debug:
        var: tailscale_status.stdout

    - name: Upgrade Tailscale to latest version
      ansible.builtin.package:
        name: tailscale
        state: present
      notify: Restart Tailscale
